header{
    position: sticky;
    top: 0;
    font-size: .8333333333rem;
    font-weight: 600;
    margin-left: -1rem;
    margin-right: -1rem;
    z-index: 1020;
    background-image: none;
    min-height: 4.3125rem;
}
